<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <title>Dashboard - Admin</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
	<meta name="author" content="" />
	
	<link rel="stylesheet" href="{$basedomain}css/googleapis.css" type="text/css">

	<link rel="stylesheet" href="{$basedomain}css/font-awesome.min.css" type="text/css" />		
	<link rel="stylesheet" href="{$basedomain}css/bootstrap.min.css" type="text/css" />	
	<link rel="stylesheet" href="{$basedomain}js/libs/css/ui-lightness/jquery-ui-1.9.2.custom.css" type="text/css" />
		
	<link rel="stylesheet" href="{$basedomain}js/plugins/icheck/skins/minimal/blue.css" type="text/css" />
	<link rel="stylesheet" href="{$basedomain}js/plugins/datepicker/datepicker.css" type="text/css" />
	<link rel="stylesheet" href="{$basedomain}js/plugins/select2/select2.css" type="text/css" />
	<link rel="stylesheet" href="{$basedomain}js/plugins/simplecolorpicker/jquery.simplecolorpicker.css" type="text/css" />
	<link rel="stylesheet" href="{$basedomain}js/plugins/datatables/DT_bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="{$basedomain}js/plugins/timepicker/bootstrap-timepicker.css" type="text/css" />
	<link rel="stylesheet" href="{$basedomain}js/plugins/fileupload/bootstrap-fileupload.css" type="text/css" />
	<link rel="stylesheet" href="{$basedomain}js/plugins/fullcalendar/fullcalendar.css" type="text/css" />
	<link rel="stylesheet" href="{$basedomain}js/plugins/WYSIWYG/jquery-te-1.4.0.css" type="text/css" />
<link rel="stylesheet" href="{$basedomain}js/plugins/magnific/magnific-popup.css" type="text/css" />	
	
	<link rel="stylesheet" href="{$basedomain}css/App.css" type="text/css" />

	<link rel="stylesheet" href="{$basedomain}css/custom.css" type="text/css" />	

	<style>
		.btn,
		.btn-group {
			margin: 0 10px 15px 0;
		}

		.btn-block {
			margin-right: 0;
			margin-left: 0;
		}

		.btn-group .btn {
			margin: 0;
		}
	</style>
	<script>
		var basedomain = "{$basedomain}";
	</script>
</head>